.app.light {
  --bg-color: #ACAAAC;
  --inverted-bg-color: #0000A8;
  --primary-color: #A3240B;
  --secondary-color: #000;
  --inverted-primary-color: #87DDA2;
  --inverted-secondary-color: #EAE5FE;
}