.Navbar {
  width: 100%;
  height: var(--navbar-height);
  background: var(--inverted-bg-color);
  display: flex;
  align-items: center;
  padding: 20px;
}

.mainLink {
  margin-right: 20px;
}

.links {
  margin-left: auto;
}